@charset "utf-8";
// ===================================================================
// レイアウト関係のスタイル
// ===================================================================

body{
    font-size : 10px;
    display   : flex;
    background: #eee;
}

//====================================================================
//menu_up
//====================================================================
.c__main_up_menu{
    background : $main_color;
    width      : 100%;
    height     : 20px;
    z-index    : 9999;
    position   : fixed;
    top        : 0px;
    left       : 0px;
    >.text_input{
        z-index    : 9999;
        position   : fixed;
        right      : 30% ;
    }
    >.menu_button{
        >div{
            background : $accent_color;
            color      : $main_color;
            text-align : center; 
            line-height: 20px;
            width      : 70px;
            height     : 20px ;
            z-index    : 9999;
            position   : fixed;
            top        : 0px ;
            right      : 0px ;
            margin     : 0px 5px;
        }    
        div:nth-child(2){
            right      : 5% ;
        }
        div:nth-child(3){
            right      : 10% ;
        }
    }
}

//====================================================================
//menu_left
//====================================================================
.c__left_menu{
    background : $main_color;
    width      : 150px;
    height     : 100%;
    z-index    : 9999;
    position   : fixed;
    top        : 20px;
    bottom     : 20px;
    left       : 0px;
    >h1{
        width       : 150px;
        height      : 150px;      
        background  : $accent_color;
        margin      : 0 auto;
    }
    >.info{
        background : $sub_color;
        color      : $main_color;
        position   : fixed;
        bottom     : 20px;
        width      : 150px;
        font-size  : 15px;
    }
    >div{
        li{
            list-style: none;
            width    : 150px;
            height   : 40px;
            font-size: 15px;
            text-align  : center; 
            >a{
                color       : $font_color; 
                height      : 40px;
                text-align  : center; 
                line-height : 40px;
            }
        }
    }
}

//====================================================================
//フッター
//====================================================================
footer{
    color      : $main_color;
    width      : $base_width;
    background : $main_color;
    text-align : center;
    height     : 20px;
    z-index    : 9999;
    position   : fixed;
    bottom     : 0px; 

}

//====================================================================
//メイン
//====================================================================
.c__main{
    margin-top  : 20px ;
    margin-left : 150px;
    padding     : 20px;
    width       : 88.8%;
    height      : 530px;
    position    : relative;
    color      : $main_color;

}
