@charset "utf-8";
// ===================================================================
// mixinやらCSS3やら、extendも。
// ===================================================================
@mixin box_absolute_left{
  position: absolute;
  width: 800px;
  left: 300px;
}
@mixin  directory {

  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  h2{
    font-size:30px;
  }
}
@mixin header_font{
  margin-top: 10px;
  margin-bottom: 10px;
}
